@model IEnumerable<Newsopedia.Services.NewsopediaOldModels.GetTopUsersVm>
@{ 
    <h1>Top 3 Users</h1>
    @foreach(var item in Model)
            {
        <span> @item.FirstNameVm @item.LastNameVm</span>
               
                <br />
            }
}