@model Newsopedia.Services.NewsopediaOldModels.NewsopediaOldUserVm
<h2>Registration</h2>
<form asp-action="RegisterFunction">
    <table>
        <tr>
            <td>
                <span>
                    First Name
                </span>
            </td>
            <td>
                <input asp-for="FirstName" placeholder="First Name" />
            </td>
        </tr>
        <tr>
            <td>
                <span>
                    Last Name
                </span>
            </td>
            <td>
                <input asp-for="LastName" placeholder="Last Name" />
            </td>
        </tr>
        <tr>
            <td>
                <span>
                    Email Address
                </span>
            </td>
            <td>
                <input asp-for="Email" placeholder="email address" />
            </td>
        </tr>
        <tr>
            <td>
                <span>
                    Password
                </span>
            </td>
            <td>
                <input asp-for="Password" placeholder="password" />
            </td>
        </tr>
    </table>
    <button type="submit">Register</button>
</form>