@*@model Newsopedia.Services.Models.UserVm*@
@model Newsopedia.Services.NewsopediaOldModels.NewsopediaOldUserVm
<h2>Registration</h2>
<form asp-action="RegisterFunction">
    <table>
        
        <tr>
            <td>
                <span>
                    First Name
                </span>
            </td>
            <td>
                <input asp-for="FirstNameVm" placeholder="First Name" />
            </td>
        </tr>
        <tr>
            <td>
                <span>
                    Last Name
                </span>
            </td>
            <td>
                <input asp-for="LastNameVm" placeholder="Last Name" />
            </td>
        </tr>
        <tr>
            <td>
                <span>
                    Email Address
                </span>
            </td>
            <td>
                <input asp-for="EmailVm" placeholder="email address" />
            </td>
        </tr>
        <tr>
            <td>
                <span>
                    Password
                </span>
            </td>
            <td>
                <input asp-for="PasswordVm" placeholder="password" />
            </td>
        </tr>
        @*<tr>
            <td>
                <span>
                    Confirm Password
                </span>
            </td>
            <td>
                <input type="password" placeholder="Confirm password" />
            </td>
        </tr>*@
    </table>
    <button type="submit">Register</button>
</form>
